* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
/* ==================   logo + botones nav / ancor . arriba de h1       ====================================                */
.navbar {
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 30px;
}
.navbar-toggler {
  display: flex;
  justify-content: center;
}
.navbar-nav {
  gap: 20px;
  margin-right: 50px;
}
.contain {
  display: flex;
  gap: 9rem;
}
main {
  /* background-color: rgba(15, 42, 42, 0.472); */
  min-height: 75.1vh;
  
}
.barra1 {
  width: 100%;
}
footer {
  min-height: 10vh;
  flex-direction: row !important;
  /* background-color: #20e2d7 !important; */
}
.iconSocial {
  width: 2.5rem;
  margin-left: 20px;
}
.social-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .main002 {
  background-color: rgba(15, 42, 42, 0.472);
} */
h1 {
  font-family: "Times New Roman", Times, serif !important;
}
.card-title{
  display: flex;
  align-items: center;
  justify-content: center;


}
.home {
  font-size: 4rem;
  font-family: "sans-serif", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 20px;
  /* text-shadow: 8px 8px 30px rgb(165, 36, 36), -2px 2px 20px rgb(165, 36, 36); */
  padding: 7px;
}
.Anchor {
  margin: 15px;
  border-radius: 10px;
  background-image: linear-gradient(to top, #2c0606 0%, #010948 100%);
  font-weight: bold;
  font-size: 13px !important;
  display: block;
  text-transform: uppercase;
  /* color: grey; */
  font-size: 18px;
  overflow: hidden;
  transition: all 500ms ease;
  border: 2px solid rgb(136, 9, 9);
  margin-bottom: 40px;
  z-index: 0;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px;
  letter-spacing: 2px;
}
.nav-link {
  color: black !important;
  border-radius: 10px;
  /* color: #434343; */
  padding: 10px;
  border-radius: 10px;
  font-size: 1.1rem;
  border: none;
}
#actual {
  color: white !important;
  border: 2px solid rgb(8, 8, 8);
  background-image: linear-gradient(to top, #bb055d 100%, #f54dcb 0%, #5a012c 100%);
}
.nav-link:hover {
  color: rgb(25, 25, 228) !important;
  border-radius: 10px;
  background-image: black;
  /* color: #434343; */
}
.Flechitas {
  height: 3rem;
  width: 3rem;
}
.home {
  color: #f1ed0a;
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 8px 8px 30px rgb(165, 62, 36), -2px 2px 20px rgb(165, 36, 36);
}
.bg-warning {
  /* background-image: linear-gradient(to top, #e92156 0%, #5a012c 100%); */
  /* background-image: linear-gradient(to top, #ca0b3e 0%, #5a012c 100%); */
  background-image: linear-gradient(to top, #de3d68 0%, #5a012c 100%);
}
/* ======================================CARDS =====================================================  */
.card01 {
  display: flex;
  justify-content: center;
  width: 15rem !important;
  background-color: rgb(83, 81, 81);
  /* background-color: white; */
  color: black!important;
  border-radius: 16px 16px 16px 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  border: 1px solid rgba(7, 3, 3, 0.3) !important;
  max-height: 50rem;
  box-shadow: 6px 6px 12px #ffffff, -6px -6px 12px #c5c5c5 !important;
}
form {
  display: flex;
  align-items: center;
}
th {
  background-color: black;
  color: rgb(238, 252, 40) !important;
}
.input:focus {
  outline-color: white;
  place-content: "Enter your message!";
}
caption {
  padding-top: 20px !important;
  font-style: italic !important;
  border-radius: 20px !important;
}
td,
th {
  border-radius: 10px !important;
  border: 2px solid black !important;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  border-radius: 5px !important;
  box-shadow: 0 0 10px #2f3535, 0 0 20px #020a0a !important;
}
tr:hover td {
  background-color: #369681;
  color: white;
  border-radius: 5px !important;
}
#cajac {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
td {
  background-color: rgb(10, 167, 167);
}
#exampleFormControlTextarea1 {
  resize: none;
  width: 300px !important;
  height: 150px;
  border: none;
  border-radius: 15px;
  padding: 15px;
  background-color: #e8e8e8;
  box-shadow: 6px 6px 12px #ffffff, -6px -6px 12px #c5c5c5 !important;
  font-size: medium;
  font-weight: bold;
  box-shadow: 0 0 10px #2f3535, 0 0 20px #b0cecd !important;
 }
.form-control {
  border: none;
  border-radius: 15px;
  padding: 15px;
  background-color: #620f0f;
  box-shadow: 6px 6px 12px #ffffff, -6px -6px 12px #c5c5c5 !important;
  font-size: medium;
  font-weight: bold;
  border-radius: 10px;
  flex: auto;
}
p {
  color: white !important;
  text-shadow: 8px 8px 30px rgb(19, 26, 227), -2px 2px 20px rgb(4, 21, 249);
}
.form-label {
  width: 450px;
   max-width: 70px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}
.logo {
  width: 200px;
  height: 50px;
}
#detailXd{
  border-radius: 12px 10px 0px 0px !important;
  width: 900px;
  height: 600px;
 
}
.bodyDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px 10px 0px 0px !important;
}
.caja1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px 10px 0px 0px !important;
 
  }
.imagenDetails {
  border-radius: 12px 10px 0px 0px !important;
  

  }

  .card-body {
  border-radius: 12px 10px 10px 0px !important;
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  object-fit: cover !important;
}


.card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: gold;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.card-text {
  color: gold;
}
.btn {
  display: flex;
  justify-content: center;
  margin: 0.5px;
  text-align: center;
}
p {
  color: gold;
}
.bg-dark {
  /* background-image: linear-gradient(to top, #f54dcb 0%, #5a012c 100%); */
  /* background-image: linear-gradient(to top, #e92156 0%, #5a012c 100%); */
  background-image: linear-gradient(to top, #e92156 0%, #5a012c 100%);

  }
.h51 {
  color: #f7f014;
}
/* ===============================================*/
.imgCard {
  height: 10rem !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  border-radius: 15px 15px 0px 0px !important;
 }
.dateCard {
  height: 1.5rem !important;
  margin-top: 0px !important;
  padding-top: 0px !important;
  width: 100%;
}
.form-control {
  padding: 0 0.5rem;
  width: 18rem !important;
  height: 3rem;
  cursor: text;
  transition: top 200ms ease-in, top 200ms ease-in, top 200ms ease-in;
  font-size: 200ms ease-in;
  border-radius: radius;
  border-color: clr-primary;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  padding: 1.25rem;
  background: none;
  background-color: azure;
  box-shadow: 0 0 10px #2f3535, 0 0 20px #b0cecd !important;
}
#name {
  background-color: #e8e8e8;
}
#email {
  background-color: #e8e8e8;
}
.inputBoton {
  display: block;
  font-size: 18px;
  overflow: hidden;
  transition: all 500ms ease;
  border: 2px solid #20e2d7;
  margin-bottom: 40px;
  z-index: 0;
  font-weight: 700;
  /* width: 100px; */
  border-radius: 10px;
  padding: 10px;
  color: black;
  
  border: 1.5px solid darkblue;
  background-image: linear-gradient(to top, #dc2348 0%, #5a012c 100%);
  box-shadow: 0 0 10px #20e2d7, 0 0 20px #20e2d7;
  color: black;
  padding: 5px;
  margin: 3px;
  
  box-shadow: -3px -3px 13px black;
  font-size: 20px;
}
.inputBoton:hover {
  background-color: #021d1c;
  box-shadow: 0 0 10px #20e2d7, 0 0 20px #20e2d7;
  color: rgb(249, 212, 4);
  font-weight: bold !important;
  font-size: 20px;
  text-shadow: 8px 8px 30px rgb(165, 36, 36),
    -2px 2px 20px rgb(165, 36, 36);
}
.form-control {
  width: 4rem;
  height: 1rem;
}
/*           mediaquery              */
@media (min-width:320px) {
  .nav-link {
    display: flex;
    justify-content: center;
    margin: 4px;
    padding: 4px !important;
  }
  .actual.nav-link {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 5px !important;
  }
}
@media (max-width: 320px) {
  .navbar-nav {
    display: flex;
    width: 54%;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
  }


  #actual {
   padding: 4px !important;
  }
  .h51{
    
    margin-left: 7rem;
    font-size: 14px;
    width: 74px;  
    margin-top: 10px;
    
  }
  .iconSocial {
    width: 1.2rem;
    margin-left: 10px;
}
 /* footer{
  margin: 0px;
 } */
}

@media (min-width:375px){

  .h51{
    
    margin-left: 10.2rem;
    font-size: 14px;
    width: 74px;  
    margin-top: 10px;
    
  }
  .iconSocial {
    width: 1.2rem;
    margin-left: 10px;
}
}

@media (min-width:425px){

  .h51{
    
    margin-left: 13.2rem;
    font-size: 14px;
    width: 74px;  
    margin-top: 10px;
    
  }
  .iconSocial {
    width: 1.2rem;
    margin-left: 10px;

}

}

@media (min-width:768px) {
  a.nav-link {
    display: flex;
    justify-content: center;
    margin: 4px;
    padding: 4px !important;
    box-sizing: border-box;
  }
  .h51{
    
    margin-left: 34.5rem;
    font-size: 14px;
    width: 74px;  
    margin-top: 10px;
    
  }
  .iconSocial {
    width: 1.2rem;
    margin-left: 10px;

}
}



































